# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

stages:

- stage: build_debug
  displayName: Build (Debug)
  dependsOn: []
  jobs:
  - template: ./.github/workflows/build.yml
    parameters:
      arch: x64
      config: Debug

# - stage: build_release
#   displayName: Build (Release)
#   dependsOn: []
#   jobs:
#   - template: ./.github/workflows/build.yml
#     parameters:
#       arch: x64
#       config: Release

# Some driver developers are building for WS2022 LTSC targets using VS2019 +
# the Windows Server 2022 WDK, so validate our project still builds in that
# environment.
- stage: build_ltsc_debug
  displayName: Build (VS2019 Debug)
  dependsOn: []
  jobs:
  - template: ./.github/workflows/build.yml
    parameters:
      arch: x64
      config: Debug
      vmImage: windows-2019
      publish: false

# pool:
#   vmImage: "windows-latest"
  
# steps:
# - script: echo Hello, world!
#   displayName: 'Run a one-line script'

# - script: |
#     echo Add other tasks to build, test, and deploy your project.
#     echo See https://aka.ms/yaml
#   displayName: 'Run a multi-line script'
